SECRET=
PORT=
MONGO_CONNECT=
POSTGRES_URL=
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_REDIRECT_URL_SIGNUP=
GOOGLE_REDIRECT_URL_SIGNIN=
SMTP_USER=
EMAIL_VERIFICATION_SECRET=
GOOGLE_REFRESH_TOKEN=
